* {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   font-family: 'Raleway', sans-serif;
   font-size: 16px;
   font-weight: 200;
   --p-color: #ff1d3f;
}

body {
   width: 100%;
   height: 100%;

   text-align: center;

   color: white;
   background: url(tersius-van-rhyn-228779.jpg);
   background-color: black;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
}

h1, h2, h3, h4, h5, h6, p {
   font-weight: 200;
}

/* HEADER AND HERO SECTION */

/* <<< CONTAINER PROPORTIONS HERE >>> */

.hero, .card-section, footer {
   position: relative;

   width: 90vw;
   max-width: 1400px;
   margin: 0 auto 2%;
   padding: 5%;
}

.hero {
   height: 100vh;
   max-height: 900px;
}

/* <<< >>> */

.logo-text {
   margin: 0 auto 3%;

   font-size: 1.4rem;

}

.logo-text span {
   color: var(--p-color);

   font-weight: 600;
}

ul li {
   display: inline-block;

   margin-right: 5%;
   padding-right: 5%;

   cursor: pointer;
   text-decoration: none;

   border-right: solid 1px var(--p-color);

   font-size: 1.1rem;
}

ul li:last-child {
   position: relative;

   margin-right: 0;
   padding-right: 0;

   border-right: none;
}

ul li:hover {
   color: var(--p-color);
}

ul li:active {
   -webkit-transform: translateY(1px);
   transform: translateY(1px);
}

.hero-text {
   position: absolute;
   top: 50%;
   left: 50%;

   width: 100%;

   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
}

h1 {
   margin: 0 auto;

   letter-spacing: 0.1rem;
   text-transform: uppercase;

   font-size: 4.8rem;
}

p {
   margin: 0 25%;

   font-size: 1.1rem;
}

button {
   position: relative;

   display: block;

   width: 200px;
   height: 50px;
   margin: 0 auto;

   cursor: pointer;

   color: white;
   border: none;
   border-radius: 5px;
   outline: none;
   background-color: var(--p-color);

   font-size: 1.1rem;
}

.hero button {
   position: absolute;
   bottom: calc(5% + 25px);
   left: 50%;

   -webkit-transform: translateX(-50%);
   transform: translateX(-50%);
}

button:hover {
   -webkit-transform: scale(0.98);
   transform: scale(0.98);
}

.hero button:hover {
   -webkit-transform: translateX(-50%) scale(0.98);
   transform: translateX(-50%) scale(0.98);
}

button:active {
   -webkit-transform: translateY(1px) scale(0.98);
   transform: translateY(1px) scale(0.98);
}

.hero button:active {
   -webkit-transform: translate(-100px, 1px) scale(0.98);
   transform: translate(-100px, 1px) scale(0.98);
}


/* CARDS AND EXPERTISE AREA */

h2 {
   display: block;

   margin-bottom: 5%;

   text-align: left;

   color: var(--p-color);

   font-size: 1.6rem;
}

.card-container {
   display: inline-block;

   width: 40%;
   padding: 5%;

   border-radius: 5px;
   background-color: rgba(255, 255, 255, 0.1);
}

h3 {
   font-size: 1.4rem;
}

.card-container i {
   margin: 15% auto;

   color: var(--p-color);
}

.card-container p {
   width: 100%;
   margin: 0 auto;
   /* font-size: 1.1rem; */
}

.card-1 {
   margin-right: 5%;
}

/* FOOTER SECTION */

.contact-details {
   margin: 5%;
}

footer {
   margin-bottom: 0;
}



/* MEDIA QUERIES */

@media screen and (max-width: 1100px) {

   html {
      font-size: 14px;
   }

   .card-container {
      display: block;

      width: 60%;
      margin: 5% auto;
   }
   .contact-details {
      margin: 7.5% auto;
   }
}

@media screen and (max-width: 670px) {
   html {
      font-size: 12px;
   }
}

@media screen and (max-width: 450px) {
   body {
      background-attachment: scroll;
   }
   h1 {
      font-size: 3.8rem;
   }
   .body-text {
      width: 80%;
      margin: 0 auto;
   }
   .card-container {
      width: 90%;
   }
   .contact-details {
      margin: 15% auto;
   }
}

@media screen and (max-width: 736px) and (orientation: landscape) {

   html {
      font-size: 12px;
   }
   h1 {
      font-size: 3.8rem;
   }
   .body-text {
      width: 80%;
      margin: 0 auto;
   }
   .card-container {
      display: inline-block;

      width: 42.5%;
      margin-top: 0;
   }
   .card-1 {
      margin-right: 5%;
   }
}