* {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   font-family: 'Raleway', sans-serif;
   font-size: 12px;
   font-weight: 200;
   --p-color: #ff1d3f;
   --shadow: #cbcbcb;
}

body {
   height: 100vh;

   text-align: center;

   color: white;
   background: url(eugene-lim-260668.jpg);
   background-color: black;
   background-repeat: no-repeat;
   background-size: cover;
}

.container {
   width: 90%;
   max-width: 1000px;
   height: 90%;
   max-height: 1400px;
   margin: 5% auto;
}

.logo-text {
   margin: 15% auto 5%;

   font-size: 1.8rem;
}

.logo-text span {
   color: var(--p-color);

   font-weight: 600;
}

ul li {
   display: inline-block;

   margin-right: 5%;
   padding-right: 5%;

   cursor: pointer;

   border-right: solid 1px var(--p-color);

   font-size: 1.4rem;
}

ul li:last-child {
   margin-right: 0;
   padding-right: 0;

   border-right: none;
}

ul li:hover {
   color: var(--p-color);
}

ul li:active {
   -webkit-transform: translateY(1px);
   transform: translateY(1px);
}

h1 {
   margin: 20% auto 1%;

   letter-spacing: 0.1rem;
   text-transform: uppercase;

   font-size: 5.4rem;
   font-weight: 200;
}

.body-text {
   margin: 0 25%;

   font-size: 1.4rem;
   line-height: 2.2rem;
}

button {
   position: relative;

   display: block;

   width: 200px;
   height: 50px;
   margin: 25% auto 20%;

   cursor: pointer;

   color: white;
   border: none;
   border-radius: 5px;
   outline: none;
   background-color: var(--p-color);

   font-size: 1.4rem;
}

button:hover {
   -webkit-transform: scale(0.98);
   transform: scale(0.98);
}

button:active {
   -webkit-transform: translateY(1px) scale(0.98);
   transform: translateY(1px) scale(0.98);
}

/* MEDIA QUERIES */

@media screen and (max-width: 930px) {
   h1 {
      margin: 15% auto 0;

      font-size: 4.2rem;
   }
   button {
      margin: 15% auto;
   }
}

@media screen and (max-width: 790px) {
   html {
      font-size: 10px;
   }
   h1 {
      font-weight: 200;
   }

}

@media screen and (max-width: 670px) {

   .body-text {
      width: 80%;
      margin: 0 auto;
   }
   .logo-text {
      margin: 25% auto 10%;
   }
   h1 {
      margin: 25% auto 0;
   }
   button {
      margin: 25% auto;
   }
}

@media screen and (max-width: 736px) and (orientation: landscape) {
   .logo-text {
      margin: 5% auto 2%;
   }
   .body-text {
      width: 90%;
      margin: 0 auto;
   }
   h1 {
      width: 90%;
      margin: 12.5% auto 0;
   }
   button {
      margin: 10% auto;
   }
}